html {
  font: 100%/1 sans-serif; /* the /1 is the line-height, could also type in 'normal'*/

  }

body {
  width: 90%; /* overall width*/
  max-width: 60em; /*max width*/
  margin: 0 auto; /* top and bottom, right and left */
  }

article {
  width: 90%
  margin: auto;
}
/* Break point (for line length) 1 / small */
@media (min-width: 50em) {

body {
  font-size: 107.14%;
  }

main{
  margin: 0 8%;
}

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: .5em;
  margin-bottom: .5em;
  }

/* typographic styles */

/* paragraph / foundation */

/* 1.4 measure
1/2: .7, 1.4
1/4: .35, .7, 1.05, 1.4
1/5: .28, .56, .84, 1.12, 1.4 */

p {
font: .8em "Baskerville", sans-serif;
}

ul {
  font: .8em "Baskerville";
}

}

/* headings / foundation */

.star {
font: 1.5em "Impact", sans-serif; 
}

}

h1 {
  font: 1em/1.4 "Impact", sans-serif;
}
/* 1.68em + .28 = 1.96 / 1.68 = 1.16666667 */
h2 {
  font: 1em/1.4 "Impact", serif;
  
}

h5 {
  font: 1em/1.4 "Impact", serif;
  font-size: .7em
}

body {
    background-color: #e6fff5;
}



