  figure {
    margin: 0;
    }
  
  figcaption {
  margin: 0;   /*flexible img */
  font-size: 18px;
  font-family: "Baskerville", serif;
  letter-spacing: .06em;
  background-color: #edb0b2;
  border-left-color: #000000;
  border-left: 6px
  border-radius: 5px;
}
  
     p {
  background-color: #d1e4ed;
  border-radius: 5px;
  border-left: 6px solid;
  border-left-color: #000000;
  }
  
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    }
    
    img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    
    body {
    scroll-behavior: smooth;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 4em;
    }
    
.max-width {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }

#banner {
  background-color: #ffffff;
  background-image: url("../img/try3.svg");
  background-repeat: repeat; /* repeat-x, repeat, no-repeat */
  background-position: left top;
  background-size: 100%; /* don't use unless your fall back image size is acceptable */
  padding: 7% 0 20%;
  }

#banner h1 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  }

    
    h1 {
    font: "Baskerville", sans-serif;
    margin: 0, 0;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


p {
font-size: 18px;
letter-spacing: 1px;
!background-color: #edb0b2;
padding: .5em;
margin: none;
}

.style2 {
height: 2px;
color: black;
background-color: black;
margin-top: 1em;
margin-bottom: 1em;
}
