  figure {
    margin: 0;
    }
  
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    }
    
    img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    
    body {
    scroll-behavior: smooth;
    background-image: url("../img/try3.svg");
    background-repeat: repeat-y;
    background-position: center top;
    margin-top: 6em;
    }
    
    h1 {
    font: "Futura", sans-serif;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
