   figure {
    margin: 0;
    }
  

  
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    }
    
    img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    
    body {
    scroll-behavior: smooth;
    margin-top: 4em;
    }
    
.max-width {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }

#banner {
  background-color: #ef4f50;
  background-image: url("../img/wallpaper-tile.svg");
  background-repeat: repeat; /* repeat-x, repeat, no-repeat */
  background-position: left top;
  background-size: 20%; /* don't use unless your fall back image size is acceptable */
  padding: 10% 0 100%;
  }

#banner h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  }

    
    h1 {
    font: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 0, 0;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


p {
font-size: 18px;
letter-spacing: 1px;
!background-color: #edb0b2;
padding: .5em;
margin: none;
}


